// font-family: 'Big Shoulders Display', cursive;
// font-family: 'Lexend Deca', sans-serif;
@use 'config/variables' as *;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  font-family: $primary-font;
  color: $veryLightGray;

  font-size:15px;
  display: flex;
  //align-items:baseline;
  margin-left: auto;
  margin-right: auto;
  // justify-content: center;
  background: $transparentWhite;
}
body,
h3,
p {
  margin: 0;
}
@media screen and(min-width:1080px){
  body{
    align-items: center;
    justify-content: center;
  }
}


